/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

/* reset */
* {
  margin: 0;
  padding: 0;
}

/* default style */
h4,
h5,
p {
  font-family: "Inter", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Merriweather", serif;
}
h1 {
  font-size: 75px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 65px;
}

h4 {
  font-size: 32px;
}
h5 {
  font-size: 24px;
}
p {
  font-size: 18px;
  color: #070211;
}

.text-red {
  color: #ff0000;
}
.text-black {
  color: #070211;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

/* hero section */
.hero-section {
  background-image: linear-gradient(
      180deg,
      rgb(7, 2, 17),
      rgba(7, 2, 17, 0) 100%
    ),
    url("../images/Banner Image.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 170px 0;
  margin: 50px 0 120px 0;
  border-radius: 16px;
}
