/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

/* reset */
* {
  margin: 0;
  padding: 0;
}

/* default style */
h4,
h5,
p {
  font-family: "Inter", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Merriweather", serif;
}
h1 {
  font-size: 75px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 65px;
}

h4 {
  font-size: 32px;
}
h5 {
  font-size: 24px;
  font-weight: 500;
}
p {
  font-size: 18px;
  color: #070211;
}

.text-red {
  color: #ff0000;
}
.text-black {
  color: #070211;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

/* hero section */
.hero-section {
  background-image: linear-gradient(
      180deg,
      rgb(7, 2, 17),
      rgba(7, 2, 17, 0) 100%
    ),
    url("../images/Banner Image.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 170px 0;
  margin: 50px 0 120px 0;
  border-radius: 16px;
}

/* offer section */
.offer {
  margin: 120px;
  text-align: center;
}

.offer > h5 {
  margin: 50px 0 16px 0;
}

.offer img {
  width: 800px;
  margin-top: 45px;
}

/* midnight party banner  */
.party-banner {
  margin: 130px 0;
  padding: 120px 0;
  border-radius: 16px;
  background-image: linear-gradient(
      90deg,
      rgb(7, 2, 17),
      rgba(7, 2, 17, 0) 100%
    ),
    url("../images/Vectorrr.png");
  color: white;
  padding-left: 125px;
}
.party-banner p {
  margin: 24px 0 48px 0;
  color: rgba(255, 255, 255, 0.8);
}

.party-banner button {
  font-size: 20px;
  font-weight: 700;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

/* party location */
.party-location {
  text-align: center;
  margin: 120px 0;
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0) 100%
  );
  padding: 100px 0;
  border-radius: 16px;
}

.party-location span {
  color: #ff0000;
}
.party-location h4 {
  margin-bottom: 10px;
}

.party-location button {
  text-transform: uppercase;
  cursor: pointer;
  padding: 16px 32px;
  font-size: 20px;
  margin-top: 45px;
  border-radius: 8px;
  background-color: #ff0000;
  color: white;
  border: none;
  font-weight: 700;
}

/* best offer */
.best-offer {
  display: flex;
  align-items: center;
  margin: 120px 0;
}
.offer-image {
  box-sizing: border-box;
  border: 15px solid rgb(255, 0, 0);
  border-radius: 100%;
  padding: 45px;
  margin: 0 120px 0 70px;
}

.offer-content h2 {
  margin: 18px 0;
}
.offer-content2 p {
  margin: 18px 0 45px 0;
}

/* holiday-sale */
.holiday-sale {
  text-align: center;
  margin: 120px 0;
}
.holiday-content {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.holiday-content h1 {
  margin: 18px 0 30px 0;
}

.holiday-image {
  display: flex;
  justify-content: space-between;
  align-items: top;
  background-image: url("../images/2.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

/* portfolio  */

.portfolio {
  margin: 120px 0;
}

.portfolio-content h2 {
  margin: 16px 0 22px 0;
}
.image-container img {
  width: 400px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 45px;
}
